.grid {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: auto auto auto;
}

.grid .block{
    margin: auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    padding: 1em;
    background-color: #fbf7f7;
    border-radius: 1em;
    max-width: 100%;
}