.qrcode-wrapper {
    display: inline-block;
    margin: 20px;
}

.qrcode-wrapper img {
    max-width: 150px;
    height: auto;
}

.qrcode-wrapper a {
    display: block;
    margin-top: 1px;
}

form .form-group {
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input,
textarea {
    width: 100%;
    padding-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type="submit"] {
    background-color: #30475E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #F05454;
}