footer {
    background-color: #F5F5F5;
    color: #121212;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #30475E;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}