#schedule-wrapper {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

table#schedule {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 2%;
    border-radius: 1em;
}

#schedule th,
td {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    text-align: center;
    padding: 8px;
}

.grid .block{
    margin: inherit;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    margin-top: inherit;
    margin-bottom: inherit;
    max-width: inherit;
    color: white;
}

.chinese {
    background-color: #dd7e6b;
}

.data-structure {
    background-color: #c27ba0;
}

.advanced-c-programming {
    background-color: #b6d7a8;
}

.web-programming {
    background-color: #b4a7d6;
}

.intro-data-storage {
    background-color: #76a5af;
}

.marketing {
    background-color: #f1c232;
}

.grid .chinese {
    background-color: #dd7e6b;
}

.grid .data-structure {
    background-color: #c27ba0;
}

.grid .advanced-c-programming {
    background-color: #b6d7a8;
}

.grid .web-programming {
    background-color: #b4a7d6;
}

.grid .intro-data-storage {
    background-color: #76a5af;
}

.grid .marketing {
    background-color: #f1c232;
}